{% extends 'BlogPlantas/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator2">Erro en registro</h2>
                    
                    <h3>
                        Algun dato ingresado es incorrecto.
                        Por favor intente nuevamente.
                        <br>
                        <br>
                    </h3>

                    <h2><a onclick="history.back()">Volver</a></h2> 

            </div>

        </section><!-- /.section-portfolio -->


    </main><!-- /#main -->

    {% endblock %}