{% extends 'BlogPlantas/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1><b>Blog</b>Plantas{{mensaje}}</h1>
                <p>Encontrá aquí todo sobre plantas, sus cuidados y donde conseguirlas.</p>
                <a href="{% url 'BlogPlantas:Buscador' %}" class="btn btn-border">Buscador</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Aquí encontrará...</h2>
                        <p>Responsive Web design is the approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation. The practice consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries</p>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'BlogPlantas/assets/img/plantas.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section><!-- /.section-features -->

        <section class="site-section section-services gray-bg text-center">
            <div class="container">
                <h2 class="heading-separator">Nuestro objetivo</h2>
                <p class="subheading-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/anchor.svg' %}" alt="">
                            <h3 class="service-title">Branding</h3>
                            <p class="service-info"> Learn why your brand is a valuable component when it comes to your marketing communication and why you don't want to be without one.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/bycicle.svg' %}" alt="">
                            <h3 class="service-title">Design</h3>
                            <p class="service-info">The strength of a design lies as much in the steps taken to create it as in the final result. </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/paper-plane.svg' %}" alt="">
                            <h3 class="service-title">Development</h3>
                            <p class="service-info">Development is a way to make people aware of the services and/or products you are offering.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/photo.svg' %}" alt="">
                            <h3 class="service-title">Photography</h3>
                            <p class="service-info">Photographs are the legacy you leave for generations to come.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/microphone.svg' %}" alt="">
                            <h3 class="service-title">Support</h3>
                            <p class="service-info">A support network can include a variety of forms of interaction with a range of people who can support you in different ways. </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/rocket.svg' %}" alt="">
                            <h3 class="service-title">Marketing</h3>
                            <p class="service-info">Marketing is of vital importance to any business. It is the key process of researching, promoting and selling products or services to your target.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/basket.svg' %}" alt="">
                            <h3 class="service-title">Ecommerce</h3>
                            <p class="service-info">When customers are deciding on a purchase, they start by looking online.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'BlogPlantas/assets/img/chemestry.svg' %}" alt="">
                            <h3 class="service-title">Coding</h3>
                            <p class="service-info">We use the best coding practices</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-services -->

        


    {% endblock %}