{% extends 'BlogPlantas/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Todos los problemas:</h2>
                        
                        <br>
                        <ul> <h3>
                        
                        {% for problema in object_list %}

                            <li> 
                            
                                <a href="{% url 'BlogPlantas:DetalleProblema' problema.id %}">
                                    <i style="color: rgb(0, 0, 0);">{{problema.nombreProblema}}</i>
                                </a>
                                {% if user.is_authenticated %}
                                (
                                <a href="{% url 'BlogPlantas:UpdateProblema' problema.id %}">
                                    <i class="fa fa-pencil" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                |
                                <a href="{% url 'BlogPlantas:BorrarProblema' problema.id %}">
                                    <i class="fa fa-trash" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                )
                                {% endif %}
                            </li><br>
                        {% endfor %}
                        
                        </h3></ul>
                        {% if user.is_authenticated %}
                        <div style="text-decoration-line: underline;">
                            <h3><a href="{% url 'BlogPlantas:AgregarProblema' %}" >Cargar problema</a></h3>                         
                            </div>
                            {% endif %}
                    
                    
                    
                    
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'BlogPlantas/assets/img/enferma.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>

 

    </main><!-- /#main -->

    {% endblock %}